/*admin*/

.header-admin {
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    text-align: center;
    margin-top: 3.375rem;
  
  }
  
  .header-admin-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: solid 1px var(--color-light-hover);
    padding: 2rem 0;
    background-color: var(--color-white);
  
  }
  
  .container-admin {
    display: grid;
    grid-template-columns: 200px 1fr;
  }
  
  
  .admin-sidebar {
    height: 100vh;
    width: 200px;
    border-right: solid 1px var(--color-light-hover);
  }
  
  .admin-sidebar-menu {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: solid 1px var(--color-light-hover);
    background-color: var(--color-white);
    cursor: pointer;
  }
  
  
  .admin-sidebar-menu.active,
  .admin-sidebar-menu:active,
  .admin-sidebar-menu:focus,
  .admin-sidebar-menu:hover {
    background-color: var(--color-primary)!important;
    color: var(--color-white)!important;
  }
  
  .admin-main {
    padding: 2rem
  }
  
  .admin-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
  
  .admin-title > * {
    display: inline
  }