/*card*/
.card {
    width: 100%;
    border-radius: .25rem;
    border: solid 1px var(--color-light-hover);
    box-shadow:
      0 1px 5px rgba(0, 0, 0, 0.1),
      0 1px 1px rgba(0, 0, 0, 0.05);
  }
  
  .card-img-top {
    border-radius: 0.25rem 0.25rem 0 0;
  }
  
  .card-body {
    padding: 1rem
  }
  
  .card-img {
    border-radius: 0.25rem
  }