/*tabs*/
/* 탭 선택자 */
.tab_item {
    height: 80px!important;
    line-height: 80px!important;
    font-size: 1.25rem!important;
    text-align: center;
    color: var(--color-dark);
    display: block;
    float: left;
    text-align: center;
    transition: all 0.2s ease!important;
    color: var(--color-secondary);
    border-bottom: 1px solid var(--color-secondary);
    cursor: pointer;
    margin: 0!important
  }
  
  /* 탭 라디오 버튼 숨기기 */
  input[name="tab_item"] {
    display: none!important;
  }
  
  /* 선택자 - hover */
  .tab_item:hover {
    color: var(--color-dark);
    border-color: var(--color-primary-disabled);
  }
  
  /* 선택자 - active */
  .tabs input:checked+.tab_item {
    border-bottom: solid 2px var(--color-primary);
    color: var(--color-dark);
    font-weight: 600;
  }
  
  .tab_item.ti1 {
    width: 100% !important;
  }
  
  .tab_item.ti2 {
    width: calc(100%/2) !important;
  }
  
  .tab_item.ti3 {
    width: calc(100%/3) !important;
  }
  
  .tab_item.ti4 {
    width: calc(100%/4) !important;
  }
  
  .tab_item.ti5 {
    width: calc(100%/5) !important;
  }
  
  @media screen and (max-width: 992px) {
    .tab_item.ti3 {
      width: 100% !important;
    }
  
    .tab_item.ti4 {
      width: calc(100%/2) !important;
    }
  
    .tab_item.ti5 {
      width: calc(100%/4) !important;
    }
  }
  
  @media screen and (max-width: 768px) {
    .tab_item.ti4 {
      width: calc(100%) !important;
    }
  
    .tab_item.ti5 {
      width: calc(100%/2) !important;
    }
  }
  
  @media screen and (max-width: 425px) {
  
    .tab_item.ti5 {
      width: calc(100%) !important;
    }
  }
  
  /* 탭 내용 */
  .tab_content {
    padding-top: 40px;
    display: none;
    clear: both;
    overflow: hidden;
    margin: 0 auto !important
  }
  
  /* 선택된 탭만 표시 */
  #tab1:checked~#tab1_content,
  #tab2:checked~#tab2_content,
  #tab3:checked~#tab3_content,
  #tab4:checked~#tab4_content {
    display: block;
  }