#container-user {
    border-radius: .5rem;
    background-color: #ffffff;
    padding: 1.5rem;
    box-shadow:     0 5px 10px rgba(0, 0, 0, 0.1),
    0 20px 20px rgba(0, 0, 0, 0.05);
    margin-top: 1rem;
    width: 33.3333%;
}

@media screen and (max-width: 1200px) {
    #container-user{width: 66.6666%;}
}

@media screen and (max-width: 992px) {
    #container-user{width: 100%;}
}

@media screen and (max-width: 768px) {
  
    .items-container.ic3 {
      grid-template-columns: repeat(3, 1fr);
    }
}
#container-user .tab_item {
    font-size: 1.1rem!important;
    height: 60px!important;
    line-height: 60px!important;
}

.container-policy {
    border-radius: .25rem!important;
    width: 100%;
    padding: 7px;
    border: solid 1px var(--color-secondary)!important;
    height: 200px;
    overflow-x: hidden;
}

.login-option {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .9rem
}

.join-social {
    width: 30px!important;
    height: 30px!important;
    line-height: 30px!important;
    border-radius: 100%;
    background-color: #FFEB00!important;
    color: #391C1C!important;
    display: inline!important;
    margin-right: .25rem
}